@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    line-height: 1.5em;
    margin: 10px auto;
    width: 800px;
}

p{
    margin-bottom: 0;
}

p + p {
    text-indent: 1.5em;
    margin-top: 0;
}

img{
    height: 400px;
    width: 400px;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
td,th {
    padding: 10px;
    border: 2px solid gray;
}
tr:hover{
    background-color: rgb(209, 199, 201);
}